$black:#000000;
$dark:#464655;

$grey-dark: #cac8c7;
$grey: #e0dedd;
$grey-light: #F6F6F6;

$white: #ffffff;

$orange: #ff470f;
$yellow: #ffdd57;
$green: #48c774;
$turquoise: #00d1b2;
$cyan: #3298dc;
$blue: #0764e3;
$purple: #b86bff;
$red: #f14668;

$main-color: $blue;

$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$gap: 30px;
$gap-small: 15px;
$radius: 8px;