.button {
  background-color: $main-color;
  color: $white;
  border: 0;
  border-radius: $radius;
  font-size: 16px;
  font-weight: 600;
  padding: 10.5px 18px;
  font-family: $font-family;
  transition: background-color 0.3s;
  width: 100%;

  &:hover {
    background-color: lighten($main-color, 5%);
  }
}